* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  body{
    width: 100vw;
    height: 100vh;
  }
  .container {
    max-width: 100%;
    min-height: 100vh;
    background: #106bd3;
  }
  .digital_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }
#digital{
    display: flex;
  color: #fff;
  justify-content: center;
  width: 95%;
}  
#digital .circle {
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
  }
  #digital .circle svg{
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
    z-index: 0;
  }
  #digital .circle svg circle {
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke: #a82121;
    stroke-width: 4px;
    transform: translate(5px, 5px);
  }
  #minutes{
    text-align: center;
  }
  #digital .circle svg circle:nth-child(2){
    stroke: var(--color);
    stroke-dasharray: 440;
  }
  #digital div {
    position: absolute;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
  }
  #digital div span {
    position: absolute;
    transform: translate(-50%, 0px);
    font-size: 0.5rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
  }
  #digital .ap{
    position: relative;
  font-size: 1rem;
  transform: translate(-20px);
  }
  .dots{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    z-index: 10;
  }
  .dots::before {
    content: '';
    position: absolute;
    top: -3px;
    width: 15px;
    height: 15px;
    background: var(--color);
    border-radius: 50%;
    box-shadow: 0 0 20px var(--color), 0 0 60px var(--color  );
  }
  .control{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .control img{
    margin: 5px ;
    width: 50px;
    cursor: pointer; 
  }
  .control img:nth-child(2){
    width: 80px;
  }
   @media screen and (max-width: 481px){
    #digital .circle svg{
    width: 120px;
    height: 120px;
    }
    .dots::before{
        top: 10px;
    }
     } 
     @media screen and (max-width: 460px){
        #digital .circle svg{
        width: 100px;
        height: 100px;
        }
        .dots::before{
          top: 20px;
      }
      .control img:nth-child(2){
        width: 60px;
      }
      .control img:first-child{
        width: 30px;
      }
      .control img:last-child{
        width: 30px;
      }
         } 
             @media screen and (max-width: 318px){
        #digital .circle svg{
        width: 80px;
        height: 80px;
        }
        .dots::before{
          top: 30px;
      }}
      